.block{
    width: 100px;
    height: 100px;
    border: 1px solid;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size:xx-large;
    font-weight: bold;
}